* {
  box-sizing: border-box;
}

body {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


/* INTRO-MESSAGE & WIN MESSAGE */
.win-message {
  font-family: Teko;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 1.3;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 6px;
  display: flex;
}

.intro-message {
  height: 100px;
  width: 33.33%;
}

.tic {
  text-align: right;
}

.toe {
  text-align: left;
}


/* GAME BOARD */
.board-and-score-counters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.game-board {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
}

.squares {
  flex-grow: 1;
  flex-basis: 30%;
  height: 33.4%;
  border: 3px solid black;
  font-family: Raleway;
  text-align: center;
  font-size: 150px;
  font-weight: 700;
  line-height: 0.65;
  cursor: pointer;
}


/* SCORE COUNTERS */
.score-containers {
  border: 6px solid black;
  width: 100px;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.score-counter-header {
  height: 50%;
  flex-grow: 1;
  font-size: 80px;
  border-bottom: 6px solid black;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.15;
}

.x-score-counter, .o-score-counter {
  height: 50%;
  flex-grow: 1;
  font-size: 80px;
  font-family: Teko;
  font-weight: 300;
  line-height: 1.3;
}


/* BUTTONS */
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  border: none;
  font-family: Teko;
  width: 133px;
  height: 133px;
  font-size: 40px;
  letter-spacing: 3px;
  cursor: pointer;
  line-height: 1;
}


/* Colour Theme Styling */

.background-red {
  background-color: #e01616;
}

.background-yellow {
  background-color: #fbd109;
}

.background-blue {
  background-color: #354a7f;
}

.text-red {
  color: #e01616;
}

.text-yellow {
  color: #fbd109;
}

.text-blue {
  color: #354a7f;
}

.text-white {
  color: white;
}

.one-player-selected {
  border: 6px solid black;
  background-image: url("images/one-player.png");
  background-repeat: no-repeat;
  color: transparent;
}

.two-player-selected {
  border: 6px solid black;
  background-image: url("images/two-players.png");
  background-repeat: no-repeat;
  color: transparent;
}

/* PSEUDO CLASSES */

.text-blue:hover {
color: #fbd109;
}

.squares:hover {
  background-color: #354a7f;
}

.background-blue:hover {
  background-color: #fbd109;
  color: #354a7f;
}

button:hover {
  color: #e01616;
}

.one-player:hover {
  border: 6px solid black;
  background-image: url("images/one-player.png");
  background-repeat: no-repeat;
  color: transparent;
}

.two-player:hover {
  border: 6px solid black;
  background-image: url("images/two-players.png");
  background-repeat: no-repeat;
  color: transparent;
}
